/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * dinosaurteaparty implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * dinosaurteaparty.css
 *
 * dinosaurteaparty stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (dinosaurteaparty_dinosaurteaparty.tpl), and to HTML elements you create dynamically
    (in dinosaurteaparty.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#game_play_area { 
    text-align: center;
    position: relative;
    height: auto;
    overflow: auto;
}

.placeholder {
    /* position: absolute;*/
    width: 150px;
    height: 250px;
}
  
.placeholder {
    background-color: #fff;
    /* opacity: 0;*/
    transition: all 250ms ease-in-out;
    cursor: pointer;
    /* display: none;*/
} 
.placeholder.possibleMove {
    display: inherit;
} 
.highlight {
    font-size: 32px;
}

.dinosaur {
    background-color: rgb(10, 131, 70);
    background-image: url("img/reginald.jpg");  
    display:inline-block;  
    margin: 10px;
}

.dinosaur1 {
   /* left: 000px;   */
}

.dinosaur2 {
   /* left: 200px;*/
}

.dinosaur3 {
   /* left: 400px;*/
}

.dinosaur4 {
   /* left: 600px;*/
}

.dinosaur5 {
   /* left: 800px;*/
}


.trait {
    background-color: red;
    display:inline-block;  
}


.trait1 {
    background-color: rgb(132, 0, 255);
    top: 400px;
}


.trait2 {
    background-color: yellow
}