/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * dinosaurteaparty implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * dinosaurteaparty.css
 *
 * dinosaurteaparty stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (dinosaurteaparty_dinosaurteaparty.tpl), and to HTML elements you create dynamically
    (in dinosaurteaparty.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#game_play_area { 
    text-align: center;
    position: relative;
    height: auto;
    overflow: auto;
}

.placeholder {
    /* position: absolute;*/
    width: 150px;
    height: 250px;
}
  
.placeholder {
    background-color: #fff;
    /* opacity: 0;*/
    transition: all 250ms ease-in-out;
   /* cursor: pointer; */
    /* display: none;*/
} 
.placeholder.possibleMove {
    display: inherit;
} 

.clickableitem {
    cursor: pointer;
}

.highlight {
    font-size: 32px;
}

.dinosaur {
    display:inline-block;  
    margin: 0px;
    width: 150px;   
    height: 245px; 
}

.dinosaur_inactive {
    filter: grayscale(100%);
}
/* class to handle clic of dinosaur */
.dinosaur_active {
  
}

.dinosaur1 {
    background: url("img/dinosaurs.jpg") 0 0;     
}
.dinosaur1_inactive {
    background: url("img/dinosaurs_back.jpg") 0 0;     
}
.dinosaur2 {
    background: url("img/dinosaurs.jpg") -150px 0;     
}
.dinosaur2_inactive {
    background: url("img/dinosaurs_back.jpg") -150px 0;     
}
.dinosaur3 {
    background: url("img/dinosaurs.jpg") -300px 0;     
}
.dinosaur3_inactive {
    background: url("img/dinosaurs_back.jpg") -300px 0;     
}
.dinosaur4 {
    background: url("img/dinosaurs.jpg") -450px 0;     
}
.dinosaur4_inactive {
    background: url("img/dinosaurs_back.jpg") -450px 0;     
}
.dinosaur5 {
    background: url("img/dinosaurs.jpg") -600px 0;     
}
.dinosaur5_inactive {
    background: url("img/dinosaurs_back.jpg") -600px 0;     
}
.dinosaur6 {
    background: url("img/dinosaurs.jpg") -750px 0;     
}
.dinosaur6_inactive {
    background: url("img/dinosaurs_back.jpg") -750px 0;     
}
.dinosaur7 {
    background: url("img/dinosaurs.jpg") -900px 0;     
}
.dinosaur7_inactive {
    background: url("img/dinosaurs_back.jpg") -900px 0;     
}
.dinosaur8 {
    background: url("img/dinosaurs.jpg") -1050px 0;     
}
.dinosaur8_inactive {
    background: url("img/dinosaurs_back.jpg") -1050px 0;     
}
.dinosaur9 {
    background: url("img/dinosaurs.jpg") -1200px 0;     
}
.dinosaur9_inactive {
    background: url("img/dinosaurs_back.jpg") -1200px 0;     
}
.dinosaur10 {
    background: url("img/dinosaurs.jpg") -1350px 0;     
}
.dinosaur10_inactive {
    background: url("img/dinosaurs_back.jpg") -1350px 0;     
}
.dinosaur11 {
    background: url("img/dinosaurs.jpg") -1500px 0;     
}
.dinosaur11_inactive {
    background: url("img/dinosaurs_back.jpg") -1500px 0;     
}
.dinosaur12 {
    background: url("img/dinosaurs.jpg") -1650px 0;     
}
.dinosaur12_inactive {
    background: url("img/dinosaurs_back.jpg") -1650px 0;     
}
.dinosaur13 {
    background: url("img/dinosaurs.jpg") -1800px 0;     
}
.dinosaur13_inactive {
    background: url("img/dinosaurs_back.jpg") -1800px 0;     
}
.dinosaur14 {
    background: url("img/dinosaurs.jpg") -1950px 0;     
}
.dinosaur14_inactive {
    background: url("img/dinosaurs_back.jpg") -1950px 0;     
}
.dinosaur15 {
    background: url("img/dinosaurs.jpg") -2100px 0;     
}
.dinosaur15_inactive {
    background: url("img/dinosaurs_back.jpg") -2100px 0;     
}
.dinosaur16 {
    background: url("img/dinosaurs.jpg") -2250px 0;     
}
.dinosaur16_inactive {
    background: url("img/dinosaurs_back.jpg") -2250px 0;     
}
.dinosaur17 {
    background: url("img/dinosaurs.jpg") -2400px 0;     
}
.dinosaur17_inactive {
    background: url("img/dinosaurs_back.jpg") -2400px 0;     
}
.dinosaur18 {
    background: url("img/dinosaurs.jpg") -2550px 0;     
}
.dinosaur18_inactive {
    background: url("img/dinosaurs_back.jpg") -2550px 0;     
}
.dinosaur19 {
    background: url("img/dinosaurs.jpg") -2700px 0;     
}
.dinosaur19_inactive {
    background: url("img/dinosaurs_back.jpg") -2700px 0;     
}
.dinosaur20 {
    background: url("img/dinosaurs.jpg") -2850px 0;     
}
.dinosaur20_inactive {
    background: url("img/dinosaurs_back.jpg") -2850px 0;     
}

.mydinosaur {
    background-color: rgb(10, 131, 70);
    background-image: url("img/lloyd.png");  
    display:inline-block;  
    margin: 0px;
}

.mydinosaur1 {
  /* alice my dinosaur */
}

.quirk1 {
    background-color: rgb(255, 51, 0);
    background-image: url("img/DTP-Quirk_1.png"); 
    background-repeat: no-repeat;
}

.quirk2 {
    background-color: rgb(115, 255, 0);
    background-image: url("img/DTP-Quirk_2.png"); 
    background-repeat: no-repeat;    
}

.quirk3 {
    background-color: rgb(247, 0, 255);
    background-image: url("img/DTP-Quirk_3.png"); 
    background-repeat: no-repeat;      
}


.guess_dinosaur {
    background-color: transparent;
    width: 188px;
    height: 36px;
    background-image: url("img/guess.png");      
}

.guess_text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
}

.trait {
    background-color: red;
    display:inline-block;  
    width: 40px;
    height: 40px; 
    margin: 0px;   
}

.trait_correct {
    background-color: green;
}

.trait_incorrect {
    background-color: red;
}

.trait_normal {
    background-color: orange;
}

.trait1 {
    background: url("img/DTP_Trait_Blue.png") 0 0;     
    width: 34px;
}

.trait1_incorrect {
    background: url("img/DTP_Trait_Blue.png") 0 -80px;     
    width: 34px;
}

.trait1_correct {
    background: url("img/DTP_Trait_Blue.png") 0 -40px;     
    width: 34px;
}

.trait2 {
    background: url("img/DTP_Trait_Blue.png") -34px 0;     
    width: 35px;
}

.trait2_incorrect {
    background: url("img/DTP_Trait_Blue.png") -34px -80px;     
    width: 35px;
}

.trait2_correct {
    background: url("img/DTP_Trait_Blue.png") -34px -40px;     
    width: 35px;
}

.trait3 {
    background: url("img/DTP_Trait_Blue.png") -69px 0;     
    width: 34px;
    margin-left: 15px;
}

.trait3_incorrect {
    background: url("img/DTP_Trait_Blue.png") -69px -80px;     
    width: 34px;
}

.trait3_correct {
    background: url("img/DTP_Trait_Blue.png") -69px -40px;     
    width: 34px;
}


.trait4 {
    background: url("img/DTP_Trait_Blue.png") -103px 0;     
    width: 34px;
}

.trait4_incorrect {
    background: url("img/DTP_Trait_Blue.png") -103px -80px;     
    width: 34px;
}

.trait4_correct {
    background: url("img/DTP_Trait_Blue.png") -103px -40px;     
    width: 34px;
}

.trait5 {
    background: url("img/DTP_Trait_Blue.png") -136px 0;     
    width: 35px;
    margin-right: 20px;
}

.trait5_incorrect {
    background: url("img/DTP_Trait_Blue.png") -136px -80px;     
    width: 35px;
}

.trait5_correct {
    background: url("img/DTP_Trait_Blue.png") -136px -40px;     
    width: 35px;
}

.trait6 {
    background: url("img/DTP_Trait_Blue.png") -172px 0;     
    width: 35px;
}

.trait6_incorrect {
    background: url("img/DTP_Trait_Blue.png") -172px -80px;     
    width: 35px;
}

.trait6_correct {
    background: url("img/DTP_Trait_Blue.png") -172px -40px;     
    width: 35px;
}

.trait7 {
    background: url("img/DTP_Trait_Blue.png") -207px 0;     
    width: 35px;
}

.trait7_incorrect {
    background: url("img/DTP_Trait_Blue.png") -207px -80px;     
    width: 35px;
}

.trait7_correct {
    background: url("img/DTP_Trait_Blue.png") -207px -40px;     
    width: 35px;
}

.trait8 {
    background: url("img/DTP_Trait_Blue.png") -242px 0;     
    width: 35px;
}

.trait8_incorrect {
    background: url("img/DTP_Trait_Blue.png") -242px -80px;     
    width: 35px;
}

.trait8_correct {
    background: url("img/DTP_Trait_Blue.png") -242px -40px;     
    width: 35px;
}

.trait9 {
    background: url("img/DTP_Trait_Blue.png") -277px 0;     
    width: 34px;
}

.trait9_incorrect {
    background: url("img/DTP_Trait_Blue.png") -277px -80px;     
    width: 34px;
}

.trait9_correct {
    background: url("img/DTP_Trait_Blue.png") -277px -40px;     
    width: 34px;
}

.trait10 {
    background: url("img/DTP_Trait_Blue.png") -311px 0;     
    width: 34px;
    margin-left: 14px;    
    margin-right: 20px;    
}

.trait10_incorrect {
    background: url("img/DTP_Trait_Blue.png") -311px -80px;     
    width: 34px;
}

.trait10_correct {
    background: url("img/DTP_Trait_Blue.png") -311px -40px;     
    width: 34px;
}

.trait11 {
    background: url("img/DTP_Trait_Blue.png") -345px 0;     
    width: 35px;  
}

.trait11_incorrect {
    background: url("img/DTP_Trait_Blue.png") -345px -80px;     
    width: 35px;
}

.trait11_correct {
    background: url("img/DTP_Trait_Blue.png") -345px -40px;     
    width: 35px;
}

.trait12 {
    background: url("img/DTP_Trait_Blue.png") -379px 0;     
    width: 35px;  
}

.trait12_incorrect {
    background: url("img/DTP_Trait_Blue.png") -379px -80px;     
    width: 35px;
}

.trait12_correct {
    background: url("img/DTP_Trait_Blue.png") -379px -40px;     
    width: 35px;
}

.trait13 {
    background: url("img/DTP_Trait_Blue.png") -414px 0;     
    width: 35px;  
    margin-left: 14px;  
}

.trait13_incorrect {
    background: url("img/DTP_Trait_Blue.png") -414px -80px;     
    width: 35px;
}

.trait13_correct {
    background: url("img/DTP_Trait_Blue.png") -414px -40px;     
    width: 35px;
}

.trait14 {
    background: url("img/DTP_Trait_Blue.png") -448px 0;     
    width: 34px;  
}

.trait14_incorrect {
    background: url("img/DTP_Trait_Blue.png") -448px -80px;     
    width: 34px;
}

.trait14_correct {
    background: url("img/DTP_Trait_Blue.png") -450px -40px;     
    width: 34px;
}

.trait15 {
    background: url("img/DTP_Trait_Blue.png") -482px 0;     
    width: 35px; 
    margin-right: 20px;      
}

.trait15_incorrect {
    background: url("img/DTP_Trait_Blue.png") -482px -80px;     
    width: 35px;
}

.trait15_correct {
    background: url("img/DTP_Trait_Blue.png") -482px -40px;     
    width: 35px;
}